<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @license  	OSL-3.0
 * @link       	https://github.com/dmanners/rkimages
 * @author     	https://github.com/dmanners/rkimages/graphs/contributors
 */
-->
<config>
	<modules>
		<Redkiwi_Rkimages>
			<version>1.0.0</version>
		</Redkiwi_Rkimages>
	</modules>
   
	<global>
		<models>
			<rkimages>
				<class>Redkiwi_Rkimages_Model</class>
			</rkimages>
		</models>
		<helpers>
			<rkimages>
				<class>Redkiwi_Rkimages_Helper</class>
			</rkimages>
		</helpers>
	</global>
    
</config> 
